/*formArticle*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html body {
  margin: 0;
  font-size: 1.5em;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  color: rgb(27, 29, 244) !important;
  font-family: 'Nova Script', cursive !important;
}

.form {
  background: rgb(81, 162, 237);
  margin: 0 auto;
  padding: 1em;
  width: 80%;
  border-radius: 2em;
  box-shadow: 0.1em 0.1em 0.4em 0.4em rgb(27, 29, 244);
}

.champs {
  margin: 0 auto;
  padding: 0.5em;
  width: 100%;
}

input {
  width: 100%;
}

.button {
  display: block;
  background: rgb(72, 232, 247);
  margin: 1em auto 1em;
  width: 80%;
  height: 3em;
  color: rgb(27, 29, 244);
  font-size: 2em;
  border-radius: 2em;
  border: 0.2em solid rgb(161, 153, 245);
  box-shadow: 0.05em 0.05em 0.15em 0.15em rgb(240, 134, 223);
  cursor: pointer;
}

.error {
  border: 0.2em solid red;
}

a {
  display: block;
  text-align: center;
  margin: 1.5em auto;
  color: rgb(23, 24, 111) !important;
  font-size: 2em;
  text-decoration: none !important;
}

.button:active {
  transform: scale(1.3);
}

footer {
  background: rgb(81, 162, 237);
  padding: 2em;
}

@media (max-width: 40em) {
  .form {
    width: 100%;
    border-radius: 0;
  }
}
