/*facturePanier*/

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  font-family: 'Nova Script', cursive !important;
  color: rgb(251, 0, 0) !important;
}

.adress {
  margin-left: 10%;
}

.totaux {
  text-align: right;
}


footer {
  padding: 2em;
  background: rgb(255, 163, 163);
  color: rgb(251, 0, 0);
  text-align: center;
}
